@{
    ViewData["Title"] = "Histrory";
}
<link rel="stylesheet" href="~/css/History.css"/>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 


  <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img
                src="~/img/mus.jpg"
                class="card-img-top"
                alt="Waterfall"
              />
              <div class="card-body">
                <h5 class="card-title">A historic building</h5>
                <p class="card-text">
                  The Louvre was originally built as a fortress in 1190, but was reconstructed in the 16th century to serve as a royal palace. "Like many buildings, it was built and rebuilt over the years," said Tea Gudek Snajdar, an Amsterdam-based art historian, museum docent and a blogger at Culture Tourist.
                </p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="~/img/arc.jpg"
                class="card-img-top"
                alt="Sunset Over the Sea"
              />
              <div class="card-body">
                <h5 class="card-title">The architecture of the Louvre</h5>
                <p class="card-text">
                 The story begins near the remains of the first Louvre, a medieval fortress built by King Philippe-Auguste in about 1200.
                   Follow the fortress wall to find the Salle de la Maquette, dedicated to the architecture of the Louvre.
                </p>
               
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="~/img/room.jpg"
                class="card-img-top"
                alt="Sunset over the Sea"
              />
              <div class="card-body">
                <h5 class="card-title">The Salle Saint-Louis: the oldest room in the palace</h5>
                <p class="card-text">
                The foundations of the keep that was demolished in 1528 are still visible. The nearby room known as the Salle Saint-Louis is the oldest in the palace; its name derives from traces of decoration that have been dated to the reign of Saint Louis (1226–1270).
                </p>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="carousel-inner py-4">
    <!-- Single item -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <img
                src="~/img/pyramid.jpg"
                class="card-img-top"
                alt="Waterfall"
              />
              <div class="card-body">
                <h5 class="card-title">The Louvre pyramid</h5>
                <p class="card-text">
                 In 1983, the Louvre underwent a renovation plan known as the Grand Louvre, according to History.com Part of the plan called for a new design for the main entrance. Architect I.M. Pei was awarded the project, and he designed an underground lobby and modern glass pyramid structure in the courtyard. Inaugurated in 1988
                </p>
                
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="~/img/col.jpg"
                class="card-img-top"
                alt="Sunset Over the Sea"
              />
              <div class="card-body">
                <h5 class="card-title">The organisation of the collections</h5>
                <p class="card-text">
                 The Salle de la Chapelle, on the first floor of the pavilion, is now a museum room; its name is the only trace of the chapel built here between 1655 and 1659 on the orders of Louis XIV.
                </p>
               
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-none d-lg-block">
            <div class="card">
              <img
                src="~/img/grand.jpg"
                class="card-img-top"
                alt="Sunset over the Sea"
              />
              <div class="card-body">
                <h5 class="card-title">The Grand Louvre of today</h5>
                <p class="card-text">
                 
By the start of the 1980s, it was clear that the visitor experience needed to be improved with better displays and more amenities, so in the September of 1981 the French President at the time, Francois Mitterrand, announced the launch of the Grand Louvre project, which was to incorporate the museum as well as the Tuileries and Carrousel Gardens.
                </p>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
