@{
    ViewData["Title"] = "Home Page";
}
      <div class="main"> <link rel="stylesheet" href="~/css/Home.css"/>
<div class="container">
   
  <img src="img/luvr.jpg"  width="100%" height="500px" />
    
    <div class="top-left" >ESCAPE WITH THE LOUVRE</div>
   
</div>

 <div class="garden">WELCOME TO THE LOUVRE</div>


 <div class="gardens" style="color:black">There are plenty of good reasons to visit the Louvre! So many works of art to discover in this fabulous museum that used to be a palace! So plan your visit in advance to make the most of it. Why not pick one of our visitor trails to follow a theme-based tour? And when you need a break, where better than the museum’s restful gardens?</div>
    <img src="img/louvre-garden.jpg"  width="100%" height="500px" />
 </div>